body{margin: 0;}
p, h1, h2, h3, h4, h5, h6 {margin: 0;}

b {font-weight: bold;}
i {font-style: italic;}
header h1 {
    display: block;
    font-family: 'Monoton', cursive;
    position: absolute;
    width: 400px;
    color: #000000;;
    height: 27px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 0 15px;
    background: rgba(255,255,255,0.6);
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;} 
section {width: 1400px;
    margin: 0 auto;}
    header {
         position: relative;
         width: 100%;
         height: 800px;
         background: #000000 url(../img/г.jpg) no-repeat center;
         background-size: cover;
         background-attachment: fixed;
         margin: 0;
        border-bottom: 5px solid #000000;}
        .menu {
            background: #000000;
            position: relative;
            display: block;
            width: 100%;
            margin-bottom: 50px;
            height: 55px;
        }
        .menu ul {
            position: relative;
            margin: 0 auto ;
        }
        .menu ul li{
            float: left;
            margin-left: 30px;
            padding: 5px;
        }

        .menu ul li a {
        color: #000000;
        display: block;
        padding: 10px 35px 12px;
        font-size: 22px;
        text-decoration: none;
        }
        
        .menu ul ul a {
            display: block;
            padding: 15px 10px 15px;
            font-size: 22px;
            text-decoration: none;
            color:#000000;
        }

        .menu ul > li:hover{
            background:#000000;
        }

        .menu ul ul > li:hover {
            background-color: #000000;
        }

        .menu ul li, .menu ul{
            display: inline-block;
        }

        .menu ul ul {
            display: none;
            position: absolute;
            background-color: #000000;
            margin-top: 10px;
            margin-bottom: -5px;
        }

            .menu ul a{
                color: #000000;
                text-decoration: none;
            }
            
            .menu li:hover ul{
                display: block;
            }

            .menu li:hover li{
                display: block;
            }

        center{width: 100%;
        background: #000000;
        margin-bottom: 50px;} 
   
    
    page {display: block;
        width:calc(100% - 60px);
        text-align: left;
        height: auto;
        padding: 50px 30px;
        margin-bottom: 50px;}

        page h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #000000;
        }
    page p {color: #000000;
        font-size: 18px;
    text-align: justify;}
        
    page q {display: block;
        color: rgb(126, 116, 116);
            margin-top: 10px;}
    news {position: relative;
        display: block;
        width:100%;
        overflow: hidden;
        color: #000000; 
}
    page span {color: #000000;
        text-align: 28px;}
    news div {
        position: relative;
        width: calc(33.33% - 42px);
        height: 250px;
        float: left;
        margin: 20px;
        border: 1px solid #000000;}
    news div foto {
        display: block;
        width: 100%;
        height: 200px;
        background-size: cover;
    }
    news div h3 {
        text-align: left;
        margin: 10px 0;
        font-size: 22px;
        font-weight: bold;
        padding: 0 10px;
    }
    news div p {
        text-align: justify; 
        margin-bottom: 10px;
        padding: 0 10px;
    }
    news div a {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: block;
        text-align: center;
        width: 95px;
        padding: 10px;
        background: #000000;
        color: #000000; 
    }
    